.deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    width: 850px;
    margin: 0px auto;
    padding: 0px 25px ;
}
.searcher{
    font-size: 22px;
    margin: 0px auto 25px;
    display: block;
}