@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.container{
  width: 1000px;
  margin: 0px auto;
  font-family: 'Montserrat', sans-serif;
  background-image: url('/container_bg.png');
}
